<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div id="task">
        <h1 v-if="userName">Welcome, {{userName}}</h1>
        <h1 v-else>Welcome Guest</h1>
        <form action="">
            <input v-model="userName" type="text" placeholder="Name" value=""><br><br>
            <input v-model="userEmail" type="email" placeholder="Email" value=""><br><br>
            <textarea v-model="msg" placeholder="Enter a message" id="" name="message" ></textarea><br><br>
            
            <button @click="onClick">Submit</button>
        </form>
    </div> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <!-- <script>
        new Vue({
            el: "#task",
            data() {
                return {
                    name: "",
                    userName: null,
                    userEmail: "",
                    msg: "",
                }
            },
            computed: {
                alertMessage() {
                    return "Thank you " + this.name + ". Your details have been submitted successfully."
                }
            },
            methods: {
                onClick() {
                    // alert(alertMessage)
                    alert(`Welcome ${this.userName}, your details have been submitted successfully.`)
                }
                
            }
        })
    </script> -->
</body>
</html>